extends layout

block body
  h1= title
  p Calidrought is currently in super-duper-alpha with closed access. If you would like access, then contact the codeforsanjose/calidrought repository maintainer so he can create you an account and provision you some API keys manually.
