extends layout

block body
  h1= title
  p Calidrought is currently in super-duper-alpha status. This server may tip over at any time due to constrained resources. Click on the 'register' button in the top right corner to get started with an account and to get some API keys. See https://github.com/codeforsanjose/calidrought/wiki/Getting-Started-with-the-API to get started. Have fun!
